* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  
  
}

.intro-chunk, .card{
  padding: 2rem 0;
  width: 500px;
}



.card {
  background-color: #fff;
  padding: 20px 35px;
}

.max-width-wrapper.grey {
  background-color: grey;
}

main {
  background: gray;
  padding: 2rem;
}